$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Space out content a bit */
body {
    margin: 0;
    padding: 0;
}
.slide-show {
    border: 1px solid red;
    margin: 50px auto;
    width: 400px;
    height: 300px;
    overflow: hidden;

    .slides {
        margin: 0;
        padding: 0;
        background-color: red;
        height: 300px;
        width: 1200px;

        .pics {
            float: left;
            display: block;
        }
    }

}